<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <!--<h1>Orders :- </h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Order Status</th>
        <th>Customer Name</th>
        <th>Product Name</th>
        <th>Ordered On</th>
      </tr>
      </thead>
      <tbody>
      <%# @orders.each do |order| %>
          <tr>
            <td><%#= order.status %></td>
            <td><%#= order.customer.name %></td>
            <td><%#= order.product.name %></td>
            <td><%#= order.created_at.strftime("%d/%m/%Y %I:%M %p") %></td>
          </tr>
      <%# end %>
      </tbody>
    </table>-->

    <!--<h1>Customers Wise Orders :- </h1>
    <table class="table table-striped">
      <thead>
          <tr>
            <th style="width: 30%;">Customer Name</th>
            <th style="width: 20%;">Location</th>
            <th style="width: 50%;">Date (Ordered On)</th>
            <th style="width: 50%;">Order Status</th>
          </tr>
      </thead>
      <tbody>
        <%# @order_customers.each do |customer| %>
            <tr>
              <td><%#= customer.name %></td>
              <td><%#= customer.location %></td>
              <td><%#= customer.orders.first.created_at.strftime("%d/%m/%Y %I:%M %p") %></td>
              <td><%#= customer.orders.first.status %></td>
            </tr>
        <%# end %>
      </tbody>
    </table>-->

    <h1>Customers Wise Orders (Grouped) :- </h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Customer Name</th>
        <th>Email</th>
        <th>Phone No</th>
        <th>Location</th>
        <th>Date (Ordered On)</th>
        <th>Order Status</th>
      </tr>
      </thead>
      <tbody>
      <% @order_customers_grouped_by_email.each do |grouped_customer_email| %>
          <tr>
            <td><%= grouped_customer_email[1][0].name %></td>
            <td><%= grouped_customer_email[1][0].email %></td>
            <td><%= grouped_customer_email[1][0].phone_number %></td>
            <td><%= grouped_customer_email[1][0].location %></td>
            <td><%= grouped_customer_email[1][0].orders.first.created_at.strftime("%d/%m/%Y %I:%M %p") %></td>
            <td>
              <%= hidden_field_tag 'customer_first_order_status_id', grouped_customer_email[1][0].orders.first.id %>
              <%= grouped_customer_email[1][0].orders.first.status %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>